.chatTextMain
{    
    display: inline-block;
    width: 830px;
}

.chatTextContent
{
    font-family: sans-serif;
    color: white;
    word-wrap: normal;
    border-style: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px 10px 9px 10px;
    margin: 0px 0px 0px 10px;
    font-size: 0.95em;
    max-width: 491px;
}
