/*body { background-color: #171717;}
*/
.convoHolder
{
    background-color: yellow;
    margin: auto;
    width: 100vw;
    height: 100vh;
    padding-top: 3vh
}

.chatLog, .activeList
{
    border-radius: 8px;
    height: 75vh;
}

.chatLog
{
    background-color: #26619c;
    float: left;
    border-radius: 8px;
    margin-left: 1.875%;
    margin-right: 1.875%;
    width: 72.5%;
}

.activeList
{
    background-color: indigo;
    float: left;
    margin-right: 1.875%;
    margin-left: 1.875%;
    width: 20%;
}