#textField
{
    background-color: #202020;
    color: white;
    display: flex;
    font-family: sans-serif;
    resize: none;
    border-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    border-width: 0px;
    border-radius: 8px;
    padding: 1%;
    font-size: 1em;
    width: 80%;
    height: 25%
}

#textField:focus { outline: none; }