.lowerComp
{
    float: left
}

.textInput
{
    background-color: orange;
    margin: auto;
    border-radius: 8px;
    margin-top: 3vh;
    margin-left: 1.875%;
    width: 72.5vw;
    height: 5vh;
}