*
{
    font-family: sans-serif;
}

body { background-color:  #171717;}

.registrationMaster
{
    width: 100vw;
    height: 89vh
}

#infoBox
{
    background-color: #363636;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    margin-top: 2.5%;
    padding-top: 0.01%;
    border-radius: 16px;
    border-width: 0px;
    width: 30%;
    height: 80%;
}

#registerTitle
{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 250%;
    width: 100%;
    height: 10%;
}


#fieldsBox
{   
    width: 100%;
    height: 44.5%;
}

#regForm
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    height: 100%;
}

.regFields
{
    outline: none;
    background-color: #171717;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.95em;
    border-radius: 7px;
    border-width: 0px;
    width: 96%;
    height: 16.75%;
}
::-ms-reveal { filter: invert(100%) }

.regFields::placeholder
{
    font-size: 0.8em;
    transition: transform 0.3s ease-in-out;
}

.regFields:focus::placeholder { transform: scale(0%); }
#regUname { margin-top: 0% }
#regConfPass { margin-bottom: 0%; }


#buttonsHolder
{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 8%;
    width: 100%;
    height: 15%;
}

#createButt, #cancelButt
{
    outline: none;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    width: 60%;
    height: 43.75%;
}

#createButt
{
    background-color: #238636;
    margin-bottom: 1%;
}

#createButt:hover { background-color: #2ea745; }
#createButt:active { background-color: #238636; }

#cancelButt
{
    background-color: #800000;
    margin-top: 1%;
}

#cancelButt:hover { background-color: #c50000;}
#cancelButt:active { background-color: #800000; }

#errorWarn
{
    background-color: red;
    width: 75%;
    height: 10%;
}

#errorBox
{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: white;
    background-color: #750000;
    margin-top: 1.25%;
    width: 30%;
    height: 10%;
    border-radius: 16px;
}

#errorMsg
{
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}