*
{
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar 
{ 
  width: 7px;
}

*::-webkit-scrollbar-track 
{ 
    background: #323232;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb 
{
  background-color: #606060;
  border-radius: 3px;
  width: 50%;
}